/*FONDO ANIMADO */
.gradient-background {
    position: relative;
}

.gradient-background:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(60deg, rgba(247, 149, 51, 0.75), rgba(243, 112, 85, 0.75), rgba(239, 78, 123, 0.75), rgba(161, 102, 171, 0.75), rgba(80, 115, 184, 0.75), rgba(16, 152, 173, 0.75), rgba(7, 179, 155, 0.75), rgba(111, 186, 130, 0.75));
    border-radius: var(--borderWidth); /* Ajusta el radio de borde aquí */
    z-index: -1;
    animation: animatedgradient 50s ease alternate infinite;
    background-size: 300% 300%;
}

.gradient-background-hover:hover {
    position: relative;
}

.gradient-background-hover:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(60deg, rgba(247, 149, 51, 0.75), rgba(243, 112, 85, 0.75), rgba(239, 78, 123, 0.75), rgba(161, 102, 171, 0.75), rgba(80, 115, 184, 0.75), rgba(16, 152, 173, 0.75), rgba(7, 179, 155, 0.75), rgba(111, 186, 130, 0.75));
    border-radius: var(--borderWidth); /* Ajusta el radio de borde aquí */
    z-index: -1;
    animation: animatedgradient 50s ease alternate infinite;
    background-size: 300% 300%;
}
/*BORDE ANIMADO*/
.gradient-border {
    --borderWidth: 7px;
    background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth);
}

.gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}

/*BORDE ANIMADO AL PASAR EL MOUSE*/
.gradient-border-hover:hover {
    --borderWidth: 3px;
    position: relative;
    border-radius: var(--borderWidth);
}

.gradient-border-hover:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, rgba(247, 149, 51, 0.25), rgba(243, 112, 85, 0.25), rgba(239, 78, 123, 0.25), rgba(161, 102, 171, 0.25), rgba(80, 115, 184, 0.25), rgba(16, 152, 173, 0.25), rgba(7, 179, 155, 0.25), rgba(111, 186, 130, 0.25));
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}